/************** Extra small *****************************************************************************************************/
/**********************************************************************************************************************************/
@media screen and (max-width:576px) {
    /******************* HEADER *******************/
    .desktop-nav{
        display: none;
    }
    .hero-bt{
        display: none!important;
    }
    /******************* HERO *******************/
    /******************* DEAL OF THE DAY *******************/
    /******************* TEAM *******************/
    /******************* WHY CHOOSE *******************/
    /******************* FOOTER *******************/
}

/**************** Medium **********************************************************************************************************/
/************************************************************************************************************************************/
@media screen and (min-width: 577px) and (max-width:768px) {
    /******************* HEADER *******************/
    .desktop-nav{
        display: none;
    }
    .hero-bt{
        display: none!important;
    }

    /******************* HERO *******************/
    /******************* DEAL OF THE DAY *******************/
    /******************* TEAM *******************/
    /******************* WHY CHOOSE *******************/
    /******************* FOOTER *******************/
}

/***************** Large **********************************************************************************************************/
/************************************************************************************************************************************/
@media screen and (min-width: 769px) and (max-width:992px){
    /******************* HEADER *******************/
    .desktop-nav{
        display: none;
    }
    .hero-bt{
        display: none!important;
    }
    /******************* HERO *******************/
    /******************* DEAL OF THE DAY *******************/
    /******************* TEAM *******************/
    /******************* WHY CHOOSE *******************/
    /******************* FOOTER *******************/
}

/***************** X-Large **********************************************************************************************************/
/**************************************************************************************************************************************/
@media screen and (min-width: 993px) and (max-width:1440px) {
    /******************* HEADER *******************/
    .mobile-nav{
        display: none;
    }
    /******************* HERO *******************/
    /******************* DEAL OF THE DAY *******************/
    /******************* TEAM *******************/
    /******************* WHY CHOOSE *******************/
    /******************* FOOTER *******************/
}

@media screen and (min-width: 1441px) {
    .mobile-nav{
        display: none;
    }
}