/************************************/
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    ul, li{
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    .hide{
        display: none!important;
    }
    :root {
        background-color: #fff!important;
        color: #000;
        scroll-behavior: smooth;
        --pink: #F85559;
        --soft-pnik: #FBC0A8;
    }
    h1, h2, h3, h4, h4, h5, h6, p, a, span, button, a, input, li{
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }

/******************* HEADER *******************/
/******************* HERO *******************/
/******************* DEAL OF THE DAY *******************/
/******************* TEAM *******************/
/******************* WHY CHOOSE *******************/
/******************* FOOTER *******************/